@model PaymentGateway.Models.TransactionViewModel

@{
    ViewData["Title"] = "Transaction";
}

<h1>Transact</h1>

<h4>Today</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Transaction">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SenderName" class="control-label"></label>
                <input asp-for="SenderName" class="form-control" />
                <span asp-validation-for="SenderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderID_NO" class="control-label"></label>
                <input asp-for="SenderID_NO" class="form-control" />
                <span asp-validation-for="SenderID_NO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderPhone_No" class="control-label"></label>
                <input asp-for="SenderPhone_No" class="form-control" />
                <span asp-validation-for="SenderPhone_No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderSrc_Account" class="control-label"></label>
                <input asp-for="SenderSrc_Account" class="form-control" />
                <span asp-validation-for="SenderSrc_Account" class="text-danger"></span>
            </div>
             <div class ="form-group">
                 <label asp-for="ReceiverName" class="control-label"></label>
                 <input asp-for="ReceiverName" class="form-control" />
                 <span asp-validation-for="ReceiverName" class="text-danger"></span>
             </div>
            <div class="form-group">
                <label asp-for="ReceiverID_NO" class="control-label"></label>
                <input asp-for="ReceiverID_NO" class="form-control" />
                <span asp-validation-for="ReceiverID_NO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverPhone_No" class="control-label"></label>
                <input asp-for="ReceiverPhone_No" class="form-control" />
                <span asp-validation-for="ReceiverPhone_No" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverDst_Account" class="control-label"></label>
                <input asp-for="ReceiverDst_Account" class="form-control" />
                <span asp-validation-for="ReceiverDst_Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Transact" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
