html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Custom styles for the columns */
.col-md-4 {
    background-color: e;
    padding: 15px;
    border-radius: 5px;
    align-content:center;
   
}
fieldset {
    background-color: ;
}

legend {
    background-color: ;
   text-align:center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
   
}
button{
    background-color: aqua;
}

/* Adjust the style for different screen sizes */
/*@media (max-width: 767px) {
    .col-md-4 {
        margin-bottom: 20px;
       
    }
}*/
