@model PaymentGateway.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SenderName" class="control-label"></label>
                <input asp-for="SenderName" class="form-control" />
                <span asp-validation-for="SenderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderIDNO" class="control-label"></label>
                <input asp-for="SenderIDNO" class="form-control" />
                <span asp-validation-for="SenderIDNO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderPhoneNo" class="control-label"></label>
                <input asp-for="SenderPhoneNo" class="form-control" />
                <span asp-validation-for="SenderPhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderAccount" class="control-label"></label>
                <input asp-for="SenderAccount" class="form-control" />
                <span asp-validation-for="SenderAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverName" class="control-label"></label>
                <input asp-for="ReceiverName" class="form-control" />
                <span asp-validation-for="ReceiverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverIDNO" class="control-label"></label>
                <input asp-for="ReceiverIDNO" class="form-control" />
                <span asp-validation-for="ReceiverIDNO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverPhoneNo" class="control-label"></label>
                <input asp-for="ReceiverPhoneNo" class="form-control" />
                <span asp-validation-for="ReceiverPhoneNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverAccount" class="control-label"></label>
                <input asp-for="ReceiverAccount" class="form-control" />
                <span asp-validation-for="ReceiverAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
